# OS
.DS_Store
Thumbs.db

# caches
.cache/
.local/share/Trash/
backups/
.decisions

# secrets
*.key
*.pem
*.env
.bash_secrets
bashrc/.bash_secrets

# ssh keys
.ssh/

# git credentials
.git-credentials

# neovim swap files
*.swp

# Beets local info
beets/.config/beets/import.log
beets/.config/beets/library.db
beets/.config/beets/state.pickle
